$purple: #413746;
$orange: #F26E55;

$white: #FFFFFF;

// greys
$gray: #F2F2F2;
$grey-title: #A1A1A1;
$strike-through-text: #C0C0C0;
$grey-link: #C3C4C1;
$grey-dark: #999999;

// darks
$dark: rgb(65, 55, 70);
$black: rgb(0, 0, 0);