.wines-view {
  .wines-images {
    margin-bottom: 70px;
    .wine-image-wrapper {
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .wines-view {
    .wines-images {
      margin-bottom: 0px!important;
      height: 600px;
      .wine-image-wrapper {
        margin-bottom: 25px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .box-space-holder {
      height: 600px;
    }
  }
}

@media (max-width: 800px) {
  .wines-view {
    .wines-images {
      height: 550px;
    }
    .box-space-holder {
      height: 550px;
    }
  }
}

@media (max-width: 767px) {
  .wines-view {
    .wines-images {
      height: 450px;
    }
    .box-space-holder {
      height: 450px;
    }
  }
}

@media (max-width: 600px) {
  .wines-view {
    .wines-images {
      height: 360px;
    }
    .box-space-holder {
      height: 360px;
    }
    .wine-image-wrapper {
      margin-bottom: 25px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 500px) {
  .wines-view {
    .wines-images {
      height: 300px;
    }
    .box-space-holder {
      height: 300px;
    }
  }
}
